.card .card-header .top_option{
    padding-bottom: 15px;
}
.card .card-header .top_option ul{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 10px;
}
.card .card-header .top_option ul li{
    list-style: none;
}
.card .card-header .top_option ul li button{
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
}
.card .card-header .top_option ul li button:hover{
    background-color: var(--primary-color);
    color: white;
}
.card .card-header .top_option ul li button.active {
    background-color: var(--primary-color);
    color: white;
}
