
.whole_form table{
    width: 100%;
}
table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-collapse: collapse;
}
th, td {
    padding: 2px;
}
input[type="text"], input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    border:none !important;
    outline:none !important;
    padding:5px;
    border: none;
    outline: none;
}
.whole_form .buttons{
    margin-top:10px;
    margin-bottom:10px;
}
.whole_form table tbody td button{
    outline:none;
    width: 100%;
    border:none;
    background:transparent;
    text-align:center;
}
.whole_form table tbody td button i{
    color:red;
}
.whole_form .buttons button{
    border:1px solid var(--primary-color);
    border-radius:4px;
    font-weight:600;
    outline:none;
    font-size:14px;
    padding:5px;
    padding-left: 25px;
    padding-right: 25px;
}
.whole_form .buttons button:hover{
    background-color:var(--primary-color);
    color:white;
}
.actions{
    display: flex;
    align-items: center;
    justify-content: center;
}